.title-get-appointments-by-doctor {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.appointment {
  text-align: center;
}
.btn-update-delete-appointment {
  margin-top: 10px;
}
.btn-update-delete-appointment button {
  background-color: aquamarine;
}
.btn-update-delete-appointment button a {
  color: black;
}
.info-patient-appointment-by-doctor h1 {
  margin-top: 5px;
  font-size: 20px;
}
