.specialties {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  text-align: center;
  align-items: center;
}
.specialty {
  background-color: aquamarine;
  margin: 20px;
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  padding: 15px;
}
.btns-update-delete {
  display: flex;
  justify-content: center;
}
.btn-delete a {
  color: black;
}
.btn-delete a svg {
  height: 30px;
}
