.patients {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  place-content: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.patient {
  background-color: rgb(0, 255, 242);
  margin: 25px;
  border-radius: 15px;
  padding: 50px;
}
.btn button {
  background-color: rgb(0, 138, 143);
  margin: 5px;
}
.btn button a {
  color: black;
}
