@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
.navegation {
  display: flex;
  justify-content: start;
  text-align: center;
  grid-template-columns: repeat(2, 50%);
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navegation a {
  color: black;
  margin: 50px;
  font-size: 20px;
}
.navegation .btn-nav-bar-logout {
  color: #ff4070;
}
.btn-logout {
  justify-content: end;
  text-align: end;
}
