.btn-login-signup {
  margin-top: 10px;
}
.header-users {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-users h5 {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  text-decoration: underline;
}
.header-users svg {
  height: 30px;
}
